body {
    background-color: #222;
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    width: 400px;
    padding: 20px;
    background-color: #444;
    border-radius: 10px;
    text-align: center;
  }
  
  h1 {
    margin-top: 0;
    font-size: 2rem;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  label {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #222;
    color: #fff;
    font-size: 1rem;
    margin-top: 5px;
  }
  
  input[type="text"]:focus,
  input[type="email"]:focus,
  textarea:focus {
    outline: none;
    box-shadow: 0 0 2px 2px #3c3c3c;
  }
  
  input[type="submit"] {
    background-color: #1e90ff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  input[type="submit"]:hover {
    background-color: #1c7ed6;
  }
  